$primary-black: #111;
$primary-blue: #6DAFF9;
$gray: #AAA;
$gray-blue: #6AAEDF;
$default-font-family: 'Roboto Slab', serif;
// $default-font-family: 'Roboto', sans-serif;


$messages-blue: #064185;
$messages-cream: #D6CEBD;

$default-background-color: white;
